Rowerator {
	display:block;
    background-color: #ffffff;
    width: 50%;
	margin: 0 auto;
	text-align:center
}
Punkt, Kat {
    display: block;
    margin: 30px;
    margin-left: 0;
	border-radius: 50px;
    background: rgba(188, 162, 34, 0.32);
}
Temat{
	margin: 10px;
}
Temat p {
    color: rgba(86, 76, 167, 0.56);
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 17pt;
	margin:20px
}

 Td {
	padding:10px;
    display: block;
    color: rgba(149, 113, 34, 0.92);
    font-size: 20pt;
}
span{
    color: rgba(200, 32, 32, 0.65);
}
